.DS_STORE
.DS_Store
.ipynb_checkpoints
*.pt
*.ipynb

WarmingUp_with_MNIST/*.ipynb

YoloV1_Compagny_MealTrays/*.ipynb
YoloV1_Compagny_MealTrays/*.pkl
YoloV1_Compagny_MealTrays/*.log
YoloV1_Compagny_MealTrays/logs/
YoloV1_Compagny_MealTrays/models/


__pycache__/
data/